<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/base.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/new-device-success.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LEDs play - new device</title>
  </head>
  <body>
    <div class="base-container">
      <section class="base-overlay" id="base-overlay"></section>
      <header>
        <img src="../img/logo.svg" />
        <a id="base-drawer-btn">
          <i class="fa-solid fa-bars"></i>
        </a>
      </header>
      <nav>
        <img src="../img/logo.svg" />
        <ul class="base-menu">
          <li><a href="#" class="active">Device</a></li>
          <li><a href="#">Workspace</a></li>
          <li><a href="#">Admin</a></li>
        </ul>
        <ul>
          <li><a href="#">Log out</a></li>
        </ul>
      </nav>
      <main>
        <section class="base-section">
          <div class="base-section-header">
            <h1>Device created successfully</h1>
          </div>
          <div class="base-section-body nds-container">
            <div class="nds-api-message">
              <p>Your API Key is:</p>
              <h1>zaCELgL.0imfnc8mVLWwy</h1>
            </div>
            <button class="base-btn">Show devices</button>
          </div>
        </section>
      </main>
    </div>
  </body>

  <footer>
    <script
      src="https://kit.fontawesome.com/c1c8d29a2a.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/base.js"></script>
  </footer>
</html>
