.draw-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(171, 71, 188, 1), rgba(74, 20, 140, 1));
}

.toolbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5%;
  background: rgba(0, 0, 0, 0.4);
  /* min-width: 90px; */
}

.tooblox-group {
  display: flex;
  flex-direction: column;
}

.tooblox-group.unknown-width {
  aspect-ratio: 1;
}

.tooblox-group-item {
  aspect-ratio: 1 / 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooblox-group-item > button {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.tooblox-group-item.active {
  background-color: rgba(0, 0, 0, 0.4);
}

.tgi-small > button {
  padding: 25% !important;
}

.tgi-medium > button {
  padding: 15% !important;
}

.tooblox-group-item > button > img {
  width: 100%;
  height: 100%;
}

.color-picker {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0.3vw solid gray;
  border-radius: 1.5em;
  background: gray;
  cursor: pointer;
}

.draw-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 95%;
}

.draw-canvas {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw-canvas > canvas {
  background: white;
}

@media only screen and (max-device-width: 700px) {
  .draw-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .toolbox {
    flex-direction: row;
    width: 100%;
    height: 5%;
  }

  .tooblox-group {
    flex-direction: row;
  }

  .tooblox-group-item {
    height: 90%;
    width: auto;
    align-self: center;
  }

  .tooblox-group-item > button {
    padding: 0% !important;
  }

  .color-picker {
    border: 0.2em solid gray;
  }
}
